.nav-bar {
  background: #ffffff47;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 300px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0;

    .logo-img {
      width: 100%;
      border-radius: 100px;
      box-sizing: border-box;
      margin: 8px 0;
    }
    .logo-text {
      width: 60px;
    }
  }
}